[user]
        name = Justin Ramos
        email = justin.ramos@kennasecurity.com
[push]
        default = simple
[color]
        ui = auto
[commit]
        gpgSign = true
[credential]
	helper = osxkeychain
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[http]
	cookiefile = /Users/justin/.gitcookies
